{% extends "base.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<section class="admin-panel-page container">
    <h2>Admin Dashboard</h2>

    <div class="admin-grid">
        <div class="admin-card">
            <h3>Add Product</h3>
            <p>Create a new product listing.</p>
            <a href="{{ url_for('create_product')}}" class="admin-button">Go</a>
        </div>

        <div class="admin-card">
            <h3>Manage Products</h3>
            <p>View, edit, or delete existing products.</p>
            <a href="{{ url_for('delete_product_page') }}" class="admin-button">Go</a>
        </div>

        <div class="admin-card">
            <h3>Add Post</h3>
            <p>Write a new blog post.</p>
            <a href="{{ url_for('create_post') }}" class="admin-button">Go</a>
        </div>

        <div class="admin-card">
            <h3>Manage Posts</h3>
            <p>View, edit, or delete existing posts.</p>
            <a href="{{ url_for('delete_post_page') }}" class="admin-button">Go</a>
        </div>
        <div class="admin-card">
            <h3>Manage orders</h3>
            <p>Open admin panel with all orders</p>
            <a href="{{ url_for('admin_orders') }}" class="admin-button">Go</a>
        </div>

        <div class="admin-card">
            <h3>Back to shop</h3>
            <p>Come back to a shop page</p>
            <a href="{{ url_for('shop') }}" class="admin-button">Go</a>
        </div>
    </div>
</section>
{% endblock %}