{% extends "base.html" %}

{% block title %}Edit: {{ post.title }}{% endblock %}



{% block content %}
<div class="container mt-5">
    <h2 class="mb-4"><i class="fa-solid fa-pen-to-square me-2"></i>Edit Post: "{{ post.title }}"</h2>

    <div class="card p-4 shadow-sm">

        <form method="POST">

            <div class="mb-3">
                <label for="postTitle" class="form-label fw-bold">Title</label>
                <input type="text" class="form-control" id="postTitle" name="title" value="{{ post.title }}" required>
            </div>

            <div class="mb-3">
                <label for="postText" class="form-label fw-bold">Content</label>
                <textarea class="form-control" id="postText" name="text" rows="15" required>{{ post.text }}</textarea>
            </div>


            <button type="submit" class="btn btn-primary me-2" style="background-color: #7A5C58; border-color: #7A5C58;">
                <i class="fa-solid fa-floppy-disk me-1"></i>
                Save Changes
            </button>
        </form>
    </div>
</div>
{% endblock %}